*{
    margin: 1em;
    
}
body{
    margin-bottom: 0;
}
header{
    width: 100%;
    margin-bottom: 1em;
}
    header div{
        width: 50%;
        float: right;
    }
    header img{
        width: 100%;
    }
    .header2{
        display: flex;
        background: #00759c;
        height: 5em;
        width: 100%;
        margin: auto;
    }
    .navegacion ul{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5,auto);
        justify-content: space-between;
        margin: auto;
        padding: 0;
    }
    .navegacion ul li{
        color: #fff;
        list-style: none;
        font-family: 'Lora', serif;
        font-size: 1.15em;
        margin-left: 2em;
        margin-right: 2em;
    }
    .navegacion a{
        text-decoration: none;
        color: #fff;
    }
    .navegacion li:hover{
        text-decoration: underline;
    }

footer{
      background-color: rgb(0, 0, 0);
      margin-bottom: 0;
      display: flex;
      flex-direction: row;
      
}      
    .pie{
        flex: 1;
    }    
    .mapa_redes{
        flex: 2;
    }
       footer div{
           margin: 20px auto;
           display: grid;
           grid-template-columns: auto auto;       
        }
       footer li{
           color: #fff;
           list-style: none;
           font-family: Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
           font-size: 13px;
           line-height: 1.0em;
       }
       footer h5:hover{
           text-decoration:underline;
       }
       .redes{
           display: inline;
       }
       .redes i{
           line-height: 0;
           color: #fff;
       }

@media (max-width:1175px){
    .navegacion ul li{
        font-size: 1.06em;
    }
    footer iframe{
        width: 320px;
    }
   .redes{
        display: flex;
        flex-direction: column;
    }
}    
@media (max-width:1050px){
    .navegacion ul li{
        font-size: 0.90em;       
    }
    .header2{
        height: 4em;
    }
    footer iframe{
        width: 280px;
    }
   
}
@media (max-width:900px){
    .navegacion ul li{
        font-size: 0.75em;
      
    }
    .header2{
        height: 3em;
        padding-bottom: 0.5em;
    }
    .mapa_redes{
        display: flex;
        flex-direction: column;
    }
    .redes{
        flex-direction: row;
    }
    footer iframe{
        width: 260px;
    }

}
@media (max-width:800px){
    .navegacion ul li{
        font-size: 0.70em;
        
    }
    .header2{
        height: 3em;
        padding-bottom: 0.5em;
    }
    footer{
        flex-direction: column;
    }
}